{% extends 'admin/change_list.html' %} {% block object-tools %}
<form id="quantity-form" method="post">
    {% csrf_token %}
    <input name="quantity" class="vTextField">
    <button class="button" type="submit">Change Delivery</button>
</form>
<br>

<script>
    let quantityForm = document.querySelector('#quantity-form')
    quantityForm.querySelector('input[name="quantity"]').addEventListener('change', function(e) {
        let quantity = e.target.value
        quantityForm.action = 'quantity/' + quantity + '/'
    })
</script>


{{ block.super }} {% endblock object-tools %}